<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net452" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net452" />
  <package id="EPiServer.Azure" version="8.0.1" targetFramework="net452" />
  <package id="EPiServer.CMS.Core" version="8.11.0" targetFramework="net452" />
  <package id="EPiServer.Framework" version="8.11.0" targetFramework="net452" />
  <package id="EPiServer.Logging.Log4Net" version="1.0.0" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net452" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="2.6.6" targetFramework="net452" /> 
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net452" />
</packages>